.education-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; /* White color for text */
    text-align: center;
  }
  
  .education-container h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
  }
  
  #educationCarousel {
    width: 100%;
  }
  
  .carousel-inner { /* Semi-transparent background for carousel items */
    border-radius: 10px;
    padding: 20px;
  }
  
  .education-entry {
    text-align: left;
    padding: 20px;
    margin: auto;
    max-width: 600px; /* White color for text */
  }
  
  .education-entry h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .education-entry p {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: black;
    border-radius: 50%;
  }