<!-- src/app/components/experience/experience.component.html -->

<div>
  <h1>Experience</h1>
  <div class="container ">
    <div id="educationCarousel" class="carousel slide carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#educationCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#educationCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#educationCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="row">
          <div class="col-md-12">
            <h2>CLOUDLEX | SDE II (Current)</h2>
            <ul>
              <li>Developed an AI-driven smart assistant using Node.js and OpenAI, enabling seamless interactions and task automation, leading to improved user efficiency and satisfaction.</li>
              <li>Solely conceived, architected, and implemented 4 full-stack web applications from the ground up using Node.js, Angular, Azure Functions, MySQL, and Redis, achieving exceptional performance, scalability, and user satisfaction.</li>
              <li>Mentored junior developers, introducing pair programming techniques to increase team efficiency by 30%.</li>
              <li>Pioneered the integration of cutting-edge social login solutions, such as Google and Microsoft authentication, elevating product reliability by 50% and offering an exceptionally smooth and secure user experience.</li>
              <li>Led swift resolution of critical production issues, ensuring uninterrupted service. Simultaneously managed a dynamic team, optimizing project execution and performance through meticulous end-to-end oversight, including requirement analysis, sprint planning, and coding best practices.</li>
            </ul>
          </div>
          <div class="col-md-12">
            <h2>CLOUDLEX | SDE I (July 2022 – 2024)</h2>
            <ul>
              <li>Orchestrated the development of robust REST APIs using Java and Spring Boot, ensuring optimal functionality and peak performance. Seamlessly integrated backend solutions with Angular 14 frontend, catalyzing the creation of highly responsive and feature-rich web applications.</li>
              <li>Innovatively designed and implemented solutions to address code redundancy and enhance optimization for streamlined reactive forms development using Form.io.</li>
              <li>Spearheaded the development with the use of many third-party libraries like Bootstrap and Material, demonstrating a rapid learning curve and a proactive approach to problem-solving.</li>
            </ul>
          </div>
        </div>
  </div>
</div>
