
<div>
  <h1>Contact Me</h1>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">LinkedIn</h5>
            <p class="card-text">
              <a href="https://www.linkedin.com/in/asadahmedkhan02/" target="_blank">https://www.linkedin.com/in/asadahmedkhan02/</a>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">Gmail</h5>
            <p class="card-text">
              <a href="mailto:asadahmedkhan9400@gmail.com">asadahmedkhan9400@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">Phone Number</h5>
            <p class="card-text">6264609400</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
