
<div>
  <h1>Contact Me</h1>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">
              <i class="fab fa-linkedin"></i> LinkedIn</h5>
            <p class="card-text">
              <a href="https://www.linkedin.com/in/asadahmedkhan02/" target="_blank">https://www.linkedin.com/in/asadahmedkhan02/</a>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">
              <i class="fas fa-envelope"></i> Gmail</h5>
            <p class="card-text">
              <a href="mailto:asadahmedkhan9400@gmail.com"> asadahmedkhan9400@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">
              <i class="fas fa-phone"></i> Phone Number</h5>
            <p class="card-text">6264609400</p>
          </div>
        </div>
        <div class="d-flex justify-content-center">

          <a href="assets/Asad_A_Khan_Resume.pdf" download class="btn btn-outline-danger">
            <i class="fas fa-download"></i> Download Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
