.intro-flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between image-heading and the rest of the text */
  }
  
  .profile-img {
    width: 15vw;
    height: 35vh;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin-right: 20px; /* Space between the image and the text */
    border: 1px solid;
    box-shadow: 1px;
    background-color:#bbafaf;  /* Default background color */
    transition: background-color 0.3s ease;
  }

  @media only screen and (max-width: 768px) {
    .profile-img {
      width: 40vw; /* Adjust the width to make it look better on smaller screens */
      height: auto; /* Maintain aspect ratio by setting height to auto */
    }
  }

  .profile-img:hover {
    background-color: #fefeff; /* Background color on hover */
  }

.introduction-container p {
    color: #434141; /* Light grey for paragraph and list items */
    font-size: 1.2em; /* Larger font size for better visibility */
    font-weight: bold; /* Bold font for better visibility */
  }