/* src/styles.css */

html {
    scroll-behavior: smooth;
  }
  
  body {
    background-image: url('/assets/background5.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8); /* Add a slight white background with transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

h1 {
    font-size: 3em; /* Larger font size for h1 */
  }
  
  h2 {
    font-size: 2em; /* Larger font size for h2 */
  }
  
  h3 {
    font-size: 1.75em; /* Larger font size for h3 */
  }
  
  h4 {
    font-size: 1.5em; /* Larger font size for h4 */
  }
  
  h5 {
    font-size: 1.25em; /* Larger font size for h5 */
  }
  
  h6 {
    font-size: 1em; /* Larger font size for h6 */
  }
  